<div class="white_frame">
<h1>Edit Collection</h1>
<%= render :partial => 'form' %>
<p><b>Note:</b> you add things to your collection on the &quot;View Thing&quot; page, e.g. <%= link_to 'here', Thing.last %>.</p>
</div>