<p>Below are a list of things that have been added to Thingspotter recently and that you may like:</p>
<div style="width: 820px; margin-left: -0px;">
<%= render 'spots/list', :spots => @spots %>
</div>

<p style="margin-top: 20px;margin-bottom: 20px;">If you want, try using our four mouse-over icons to get accustomed to them. The icons are:</p>
<%= image_tag 'image_icons_explanations.png' %>

<table class="full_width" style="margin-top: 0px;">
<tr>
<td><b>Add:</b> add a product to your own feed, visible to your followers.</td>
<td><b>Wishlist:</b> add a product and also place it in your personal wishlist.</td>
<td><b>Own It:</b> add a product and mark it as owned.</td>
<td><b>Recommend:</b> add a product and recommend it to another person.</td>
</tr>
</table>