<p>With the <b>Thingspotter bookmarklet</b>, you can easily tag things on pages when you are browsing the internet.</p>

<div class="menu">
Drag this button to your bookmarks bar:<br/>
<%= render :partial => 'intro/bookmarklet_link' %>
</div>

<div class="menu">
Simpler version for iPhone etc:<br/>
<%= render :partial => 'intro/bookmarklet_simple_link' %>
</div>