<div id="import_friends_box">
<% if !session["friends_imported"] %>
<span>Loading good things...</span>
<%= javascript_tag remote_function(:url => import_friends_user_path(current_user), :method => :get) %>
<% else %>
<span>Import already complete</span>
<% end %>
</div>