</td>
<td style="width: 10px;"> 
</td>
</tr>
<tr>
<td></td>
<td style="padding: 10px; font-family: gesta-1,gesta-2,Gesta,Trebuchet MS,sans-serif; font-size: 8pt; line-height: 10pt; color: rgb(102, 102, 102); text-align: left;">The message was sent to <%= @recipient_email %>. If you do not want to receive these emails from Thingspotter in the future, please follow this link: 
<a href="http://www.thingspotter.com/users/unsubscribe?email=<%= @recipient_email %>" style="color: #e0472f; text-decoration: underline;">http://www.thingspotter.com/users/unsubscribe?email=<%= @recipient_email %></a>
<br>&copy; Thingspotter - Hornstull, Stockholm, Sweden
</td>
<td></td>
</tr>
</tbody>
</table>
</body>
</html>