<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<body>
<table style="text-align: left; width: 600px; background-color: rgb(230, 230, 230);" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td></td>
<td style="padding: 10px;">
<a href="http://www.thingspotter.com?<%= @google_url_tags %>"><img alt="Thingspotter" title="Thingspotter" src="http://www.thingspotter.com/images/thingspotter_logo.png" style="border: 0px solid ; width: 99px; height: 74px;"></a></td>
<td></td>
</tr>
<tr>
<td style="width: 10px;"></td>
<td style="border-top: 5px solid rgb(252, 161, 36); padding: 15px; width: 580px; background-color: rgb(255, 255, 255); font-family: gesta-1,gesta-2,Gesta,Trebuchet MS,sans-serif; font-size: 10pt; line-height: 12pt; color: rgb(102, 102, 102); text-align: left;">