<div class="white_frame">
Sorry, could not find any cool things to show you based on that.
How about checking out some <%= link_to 'recent things spotted by other users', highscore_things_path(:view => 'recent') %>?
</div>