<div id="fb-root"></div>

<script type="text/javascript">
FB.init({
	appId  : '<%= Facebook::APP_ID %>',
	status : true, // check login status
	cookie : true, // enable cookies to allow the server to access the session
	xfbml  : true  // parse XFBML
});
</script>